ROOT_DIR=$(pwd)
export ROOT_DIR

dotenv_if_exists

CACHE_DIR="${ROOT_DIR}/.cache"
ROOT_PATH="${CACHE_DIR}/testfs"

export ROOT_PATH
export CACHE_DIR

# configure 1password items if set
if [[ -n "$OP_VAULT" ]]; then
	OP_VAULT_ID=$(op vault get "${OP_VAULT}" --format=json | jq -r '.id')
	OP_CONNECT_CREDS=$(op item get --vault "${OP_VAULT}" bucket-creds --format=json --fields credentials | jq -r ".value")
	OP_CONNECT_TOKEN=$(op item get --vault "${OP_VAULT}" access-token --fields credential)

	export OP_VAULT_ID
	export OP_CONNECT_TOKEN
	export OP_CONNECT_CREDS
	# shellcheck disable=SC2153
	export OP_CONNECT_HOST=${__OP_CONNECT_HOST}
fi
